body{
    background-color: #202121;
    height: 100%;
}

h1{
    color:aliceblue;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    text-align: center;
}

p{
    color:aliceblue;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    padding-left: 2%;
    padding-right: 2%
}  

.header_inner{
    justify-content: space-between;
    display: flex;
}

.gif{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.logo{
    margin-top: 10px;
    margin-left: 10px;
}
.links{
    margin: 30px;
    margin-right: 300px;
    position: center;
}


.link{
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 0 60px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 35px;
    transition: color .2s linear;
}

.link:hover{
    color: #686869;
}


